﻿@model Bazar.web.Models.WidgetPro
@{ 
    var defaultImage = "~/Content/images/placeholder-image.png";
 }
@if (Model != null && Model.Products != null)
{
    if (!Model.IsLatestPRo)
    {
        <ul class="flat-filter style-1 text-center clearfix">
            <li class="active"><a href="#" data-filter="*">All Product</a></li>
            @foreach (var category in Model.Products.Select(x => x.category).ToList().Distinct())
            {
                <li><a href="#" data-filter=".@category.name.ToLower()">For @category.name</a></li>
            }
        </ul>
                <div class="divider h54"></div>
    }
    <div class="product-content product-fourcolumn clearfix">
        <ul class="product style2 isotope-product clearfix">
            @foreach (var product in Model.Products)
                    {
                        var imgUrl = string.IsNullOrEmpty(product.imageUrl) ? defaultImage : product.imageUrl;
                <li class="product-item @product.category.name.ToLower()">
                    <div class="product-thumb clearfix">
                        <a href="@Url.Action("details","Product",new { Id=product.id})" class="product-thumb">
                            <img src="@imgUrl" alt="image" style="height:250px">
                        </a>
                        @if (Model.IsLatestPRo)
                        {
                            <span class="new">New</span>
                        }
                    </div>
                    <br />
                    <div class="product-info text-center clearfix">
                        <span class="product-title">@product.name</span>
                        <div class="price">
                            <ins>
                                <span class="amount">₹@product.price</span>
                            </ins>
                        </div>
                    </div>
                    <div class="add-to-cart text-center">
                        <a href="#">ADD TO CART</a>
                    </div>
                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                </li>
            }
        </ul>
    </div>
}