﻿@model Bazar.web.Models.categoryView
<div>
    <div class="row">
        <div class="col-md-4">
            <label>Search</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <input type="text" id="SearchTxt" />
        </div>
        <div class="col-md-4">
            <button id="Searchbtn">Search</button>
        </div>
    </div><br />
    <button id="NewBtn">New</button>
</div>
<div>

</div>
<table class="table table-hover" id="ProTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.getAllCats)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.description</td>
                <td><td>
                <button class="EditBtn" data-id="@item.id">Edit</button>
                <button class="DltBtn" data-id="@item.id">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <span>
        @if(Model.PageNo>1){
        <button class="paging" data-id="@(Model.PageNo - 1)">Prev</button>
        }
         <button class="paging" data-id="@(Model.PageNo + 1)">Next</button>
    </span>
</div>
<script>
    $(".paging").click(function () {
        $.ajax({
            url: '/Category/categoryTable',
            data: {
                PageNo: $(this).attr('data-id')
            },
            success: function (data) {
                $("#tablecontent").html(data);
            },
            error: function (err) {
                alert("Failed to show");
            }
        })
    })
    $("#Searchbtn").click(function(){
        var searchvalue = $("#SearchTxt").val();
        $.ajax({
            url: '/Category/categoryTable',
            data: {
                search:searchvalue
            },
            success: function (data) {
                $("#tablecontent").html(data);
                focusAction();
            },
            error: function (err) {
                alert("Failed to show");
            }
        })
    })
    $("#NewBtn").click(function () {
        $.ajax({
            url: '/Category/Create',
            success: function (data) {
                $("#ActionCreate").html(data);
                focusAction();
            },
            error: function (err) {
                alert("Failed to show New Page");
            }
        })
    })
    $(".EditBtn").click(function () {
        $.ajax({
            url: '/Category/Edit',
            data: {
                Id: $(this).attr('data-id')
            },
            success: function (data) {
                $("#ActionCreate").html(data);
                focusAction();
            },
            error: function (err) {
                alert("Failed to show New Page");
            }
        })
    })
    $(".DltBtn").click(function () {
        var confirmdlt = confirm("Are You sure you want to delete?");
        if (confirmdlt) {
            $.ajax({
                url: '/Category/Delete',
                type: 'POST',
                data:{
                    Id: $(this).attr('data-id')
                },
                success: function (data) {
                    $("#tablecontent").html(data);
                },
                error: function (err) {
                    alert("Failed to show New Page");
                }
            })
        }

    })
    function focusAction() {
        $('html,body').animate({
            scrollTop: $("#ActionCreate").offset().top - 100
        }, 'slow');
    }
</script>