﻿@{
    ViewBag.Title = "Index";
}
<div class="container">
    <br />

    <div id="tablecontent">
        @{Html.RenderAction("categoryTable");}
    </div>
    <div id="ActionCreate">
    </div>
</div>