﻿@model IEnumerable<Bazar.Entity.Category>
@{
    ViewBag.Title = "Create";
}
<hr />
<h2>Create</h2>
<form id="CreateProduct">
    <div class="row">
        <div class="col-md-8">
            <label>Name</label>
            <input type="text" name="name" /><br />
            <label>Description</label>
            <input type="text" name="description" /><br />
            <label>Price</label>
            <input type="text" name="Price" /><br />
            <label>Category</label>
            <select name="category">
                @foreach (var category in Model)
                {
                    <option value="@category.id">@category.name</option>
                }
            </select><br />
            <label>Is Featured?</label>
            <input type="radio" name="IsFeatured" value="true" />True
            <input type="radio" name="IsFeatured" value="false" />False<br />
            <input type="file" id="imgUpload" /><br />
            <input type="button" id="SaveBtn" value="Save" /><br />
        </div>
        <div class="col-md-4">
            <input type="hidden" name="ImageUrl" id="ImageUrl" />
            <img name="catImg" id="catImg" />
            <br />
        </div>
    </div>
</form>
<script>
    $("#SaveBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Product/Create',
            data: $("#CreateProduct").serialize(),
            success: function (data) {
                $("#tablecontent").html(data);
                $("#ActionCreate").html("");
            },
            error: function (err) {
                alert("Failed to show New Page");
            }
        })
    })
    $("#imgUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            datatype: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.Success) {
                    $("#ImageUrl").val(response.ImageUrl);
                    $("#catImg").attr("src", response.ImageUrl);
                }
            },
            error: function (err) {
                alert("Failed to show Image!");
            }
        })

    })
</script>
    
