﻿@model Bazar.Entity.Product
@{
    ViewBag.Title = "Edit";
    var trueChk = Model.IsFeatured ? "Checked" : string.Empty;
    var falseChk = !Model.IsFeatured ? "Checked" : string.Empty;
    var allCat = ViewBag.allCat;
    if (Model.imageUrl == null)
    {
        Model.imageUrl = "/Content/images/placeholder-image.png";
    }
}
<hr />
<h2>Edit</h2>
<form id="EditProduct">
    <div class="row">
        <div class="col-md-8">
            <label>Name</label>
            <input type="text" name="name" id="name" value="@Model.name" /><br />
            <label>Description</label>
            <input type="text" name="description" id="description" value="@Model.description" /><br />
            <label>Price</label>
            <input type="text" name="price" id="price" value="@Model.price" /><br /><label>Category</label>
            <select id="category" name="category">
                @foreach (var category in allCat)
                {
                    <option id="catId" name="catId" value="@category.id">@category.name</option>
                }
            </select><br />
            <label>Is Featured?</label>
            <input type="radio" name="IsFeatured" class="IsFeatured" value="true" @trueChk />True
            <input type="radio" name="IsFeatured" class="IsFeatured" value="false" @falseChk />False<br />
            <br />
            <input type="file" id="imgUpload" /><br />
            <input type="button" id="EditBtn" value="Save" />
      </div>
        <div class="col-md-4">
            <input type="hidden" name="ImageUrl" id="ImageUrl" value="@Model.imageUrl"/>
            <img name="catImg" id="catImg" src="@Model.imageUrl" />
        </div>
   </div>
</form>
<script>
    $("#EditBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Product/Edit',
            data: {
                Id:@Model.id,
                name:$("#name").val(),
                description:$("#description").val(),
                category: $("#catId").val(),
                price:$("#price").val(),
                IsFeatured: $(".IsFeatured:checked").val(),
                imageUrl: $("#ImageUrl").val()
            },
            success: function (data) {
                $("#tablecontent").html(data);
                $("#ActionCreate").html("");
            },
            error: function (err) {
                alert("Failed to show New Page");
            }
        })
    })
    $("#imgUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            datatype: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.Success) {
                    $("#ImageUrl").val(response.ImageUrl);
                    $("#catImg").attr("src", response.ImageUrl);
                }
            },
            error: function (err) {
                alert("Failed to show Image!");
            }
        })

    })
</script>