﻿@model Bazar.web.Models.ProductData
 <div>
     <div class="row">
         <div class="col-md-4">
             <label>Search</label>
         </div>
     </div>
          <div class="row">
         <div class="col-md-8">
             <input type="text" id="SearchTxt" />
             </div>
              <div class="col-md-4">
                  <input type="button" id="Searchbtn" value="Search" />
              </div>
              </div><br />
     <input type="button" id="NewBtn" value="New" />
 </div>
<div>

</div>   
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Featured Product</th>
        </tr>
    </thead>
<tbody>
        @foreach (var item in Model.products)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.description</td>
                <td>@if (item.category != null)
                {
                    <text>@item.category.name</text>
                }
                else
                {
                    <text>-</text>
                }
                </td>
                <td>@if (item.IsFeatured)
                {
                    <text>Yes</text>
                }
                else
                {
                    <text>No</text>
                }</td>
                <td>
                    <button class="EditBtn" data-id="@item.id">Edit</button>
                    <button class="DltBtn" data-id="@item.id">Delete</button>
                    <button class="addBtn" data-id="@item.id">Add to cart</button>
                </td>
            </tr>
        }      
    </tbody>
</table>
<div>
    @if (Model.pager != null)
    {
        if (Model.pager.CurrentPage > 1)
        {
            <button class="pagingto" data-id="@(Model.pager.CurrentPage-1)">Previous</button>
            <button class="pagingto" data-id="1">First</button>
        }
        for (var page = Model.pager.StartPage; page <= Model.pager.TotalPages; page++)
        {
            string activeness=Model.pager.CurrentPage==page?"active bg-info":string.Empty;
            <button class="@activeness pagingto" data-id="@page">@page</button>

        }
        if (Model.pager.CurrentPage !=Model.pager.TotalPages)
        {
            <button class="pagingto" data-id="@Model.pager.TotalPages">Last</button>
            <button class="pagingto" data-id="@(Model.pager.CurrentPage+1)">Next</button>
        }

    }
    </div>


<script>
    $(".pagingto").click(function () {
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                PageNo: $(this).attr('data-id'),
                search: '@Model.searchTerm'
            },
            success: function (data) {
                $("#tablecontent").html(data);
            },
            error: function (err) {
                alert("Failed to show");
            }
        })
    })
    $("#Searchbtn").click(function(){
        var searchvalue = $("#SearchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search:searchvalue
            },
            success: function (data) {
                $("#tablecontent").html(data);
            },
            error: function (err) {
                alert("Failed to show");
            }
        })
    })
    $("#NewBtn").click(function () {
        $.ajax({
            url: '/Product/Create',
            success: function (data) {
                $("#ActionCreate").html(data);
                focusAction();
            },
            error: function (err) {
                alert("Failed to show New Page");
            }
        })
    })
    $(".EditBtn").click(function () {
        $.ajax({
            url: '/Product/Edit',
            data: {
                Id: $(this).attr('data-id')
            },
            success: function (data) {
                $("#ActionCreate").html(data);
                focusAction();
            },
            error: function (err) {
                alert("Failed to show New Page");
            }
        })
    })
    $(".DltBtn").click(function () {
        swal({
            title: "Confirm?",
            text: "Are You sure you want to delete?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/Product/Delete',
                    type: 'POST',
                    data: {
                        Id: $(this).attr('data-id'),
                    },
                    success: function (data) {
                        swal("Poof! Your file has been deleted!", {
                            icon: "success",
                        });
                        $("#tablecontent").html(data);
                    },
                    error: function (err) {
                        swal("Failed to delete your file.");
                    }
                })

            } else {
                swal("Your file is safe!");
            }
        });

    })
    var products = [];
    $(".addBtn").click(function () {
        var productId = $(this).attr('data-id');
        products.push(productId);
        $.cookie('cartProducts', products.join('-'), {path:'/'});

        alert("Product added to cart");
    })
    function focusAction() {
        $('html,body').animate({
            scrollTop: $("#ActionCreate").offset().top-100},'slow');
    }
</script>