﻿@model Bazar.web.Models.shopModel
@if(Model!=null){
    if (Model.CartProduct != null && Model.CartProduct.Count > 0)
    {
        <div>
            @foreach(var product in Model.CartProduct)
            {
                var productQuan = Model.CartProductIds.Where(x => x == product.id).Count();
                <div>
                    Name: @product.name , Price: @product.price , Quantity: @productQuan, Total: @(product.price*productQuan),
                </div>
            }
        </div>
        <div>
            Total Bill: @Model.CartProduct.Sum(pro => pro.price * Model.CartProductIds.Where(x => x == pro.id).Count());
        </div>
    }
}
