﻿@model Bazar.web.Models.FilterShop
    @{ 
        var defaultImg = "/Content/images/placeholder-image.png";
    }
<div class="product-content product-threecolumn product-slidebar clearfix">
    <ul class="product style2 sd1">
        @foreach (var product in Model.products)
        {
            var ImgUrl = string.IsNullOrEmpty(product.imageUrl) ? defaultImg : product.imageUrl;
            <li class="product-item">
                <div class="product-thumb clearfix">
                    <a href="@Url.Action("details","Product",new { Id=product.id})">
                        <img src="@ImgUrl" alt="image">
                    </a>
                    <span class="new">New</span>
                </div>
                <div class="product-info clearfix">
                    <span class="product-title">@product.name</span>
                    <div class="price">
                        <ins>
                            <span class="amount">₹@product.price</span>
                        </ins>
                    </div>
                </div>
                <div class="add-to-cart text-center">
                    <a href="#">ADD TO CART</a>
                </div>
                <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
        }
    </ul><!-- /.product -->
</div><!-- /.product-content -->
