﻿@using Bazar.Services.Code
@using Bazar.web.Models
@model Bazar.web.Models.shopModelAll
@{
    ViewBag.Title = "SHOP";
}
<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Slidebar Shop</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="shop-3col.html">Shop</a></li>
                        <li><a href="shop-3col-slide.html">Slidebarshop</a></li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<section class="flat-row main-shop shop-slidebar">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar slidebar-shop">
                    <div class="widget widget-search">
                        <form role="search" method="get" class="search-form" action="@Url.Action("Index","Shop")">
                            <label>
                                <input type="search" class="search-field" placeholder="Search …" value="" name="searchTerm">
                            </label>
                            <input type="submit" class="search-submit" value="Search">
                        </form>
                    </div><!-- /.widget-search -->
                    <div class="widget widget-sort-by">
                        <h5 class="widget-title">
                            Sort By
                        </h5>
                        <ul>
                            <li><a href="@Url.Action("Index","Shop",new {sort=(int)sortEnums.Default})" class="@(Model.sort.HasValue?Model.sort.Value==(int)sortEnums.Default?"active":string.Empty:string.Empty)">Default - Newness</a></li>
                            <li><a href="@Url.Action("Index","Shop",new {sort=(int)sortEnums.popularity})" class="@(Model.sort.HasValue?Model.sort.Value==(int)sortEnums.popularity?"active":string.Empty:string.Empty)">Popularity</a></li>
                            <li><a href="@Url.Action("Index","Shop",new {sort=(int)sortEnums.lowTohigh})" class="@(Model.sort.HasValue?Model.sort.Value==(int)sortEnums.lowTohigh?"active":string.Empty:string.Empty)">Price: low to high</a></li>
                            <li><a href="@Url.Action("Index","Shop",new {sort=(int)sortEnums.HighToLow})" class="@(Model.sort.HasValue?Model.sort.Value==(int)sortEnums.HighToLow?"active":string.Empty:string.Empty)">Price: high to low</a></li>
                        </ul>
                    </div><!-- /.widget-sort-by -->
                    <div class="widget widget-price">
                        <h5 class="widget-title">Filter by price</h5>
                        <div class="price-filter">
                            <div id="slide-range"></div>
                            <p class="amount">
                                Price: <input type="text" id="amount" disabled="">
                            </p>
                        </div>
                    </div>
                    <div class="widget widget_tag">
                        <h5 class="widget-title">
                            Featured Categories
                        </h5>
                        <div class="tag-list">
                            @foreach (var category in Model.Fcategories)
                            {
                                <a href="@Url.Action("Index","Shop", new { catId= category.id})">@category.name</a>
                            }
                        </div>
                    </div><!-- /.widget -->
                </div><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-9">
                <div class="filter-shop clearfix">
                    <p class="showing-product float-right">
                        Showing 1–12 of 56 Products
                    </p>
                </div><!-- /.filte-shop -->
            <div id="divProduct">
                @{ 
                    var filterPro = new FilterShop();
                    filterPro.products = Model.Products;
                    Html.RenderPartial("FilterIndex", filterPro);
                }
            </div>
                <div class="product-pagination text-center clearfix">
                    <ul class="flat-pagination">
                        <li class="prev">
                            <a href="#"><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#" title="">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul><!-- /.flat-pagination -->
                </div>
            </div><!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->
<script>
    var callTimeout;
    var priceSlider = $("#slide-range").slider({
        range: true,
        min: 0,
        max: @Model.maxPrice ,
        values: [0,@Model.maxPrice],
        slide:function(event,ui){
            var minPrice=ui.values[0];
            var maxPrice=ui.values[1];
            $("#amount").val("₹"+minPrice+".00"+" - "+"₹"+maxPrice+".00");
            clearTimeout(callTimeout);
            callTimeout=setTimeout(GetData,2000)
        }});
    function GetData(minprice ,maxprice){
        console.log("GetData call!")
        $.ajax({
            url:'@Url.Action("FilterIndex", "Shop")',
            data:{
                minPrice: priceSlider.slider("values",0),
                maxPrice: priceSlider.slider("values",1)
            },
            success: function (response) {
                $("#divProduct").html(response);
            },
            error: function (err) {
                console.log("Fail!");
            }})
        
            };
</script>

